[Unit]
Description=rclone powered etcd2 backup service
After=etcd2.service


[Service]
Type=oneshot
EnvironmentFile=/etc/etcd2-backup-restore.env
ExecStartPre=/usr/bin/mkdir -p ${ETCD_BACKUP_DIR}
ExecStartPre=/usr/bin/rm -rf ${ETCD_BACKUP_DIR}/member
ExecStartPre=/usr/bin/etcdctl backup --data-dir=${ETCD_DATA_DIR} --backup-dir=${ETCD_BACKUP_DIR}

# Copy the last backup, in case the new upload gets corrupted
ExecStartPre=-/usr/bin/docker run --rm \
-v ${RCLONE_CONFIG_PATH}:/etc/rclone.conf \
quay.io/colhom/rclone:latest --config /etc/rclone.conf --checksum=${RCLONE_CHECKSUM} \
copy ${RCLONE_ENDPOINT}/%m/member ${RCLONE_ENDPOINT}/%m/last_member

# Upload new backup
ExecStart=/usr/bin/docker run --rm \
-v ${ETCD_BACKUP_DIR}:${ETCD_BACKUP_DIR} \
-v ${RCLONE_CONFIG_PATH}:/etc/rclone.conf \
quay.io/colhom/rclone:latest --config ${RCLONE_CONFIG_PATH} --checksum=${RCLONE_CHECKSUM} \
copy ${ETCD_BACKUP_DIR}/member ${RCLONE_ENDPOINT}/%m/member

[Install]
WantedBy=multi-user.target
