[Unit]
Description=Restore  etcd2 node by joining new cluster
Conflicts=etcd2.service etcd2-backup.service etcd2-backup.timer

[Service]
Type=oneshot
EnvironmentFile=/etc/etcd2-backup-restore.env
ExecStart=/usr/bin/rm -rf ${ETCD_DATA_DIR}/member

[Install]
WantedBy=multi-user.target
