[Unit]
Description=Restore single-node etcd2 node from rclone endpoint
Conflicts=etcd2.service etcd2-backup.service
Before=etcd2.service etcd2-backup.service

[Service]
Type=oneshot
EnvironmentFile=/etc/etcd2-backup-restore.env

ExecStartPre=/usr/bin/rm -rf ${ETCD_DATA_DIR}/member
ExecStartPre=/usr/bin/mkdir -p ${ETCD_BACKUP_DIR}
ExecStartPre=/usr/bin/rm -rf ${ETCD_BACKUP_DIR}/member

# Copy the last backup from rclone endpoint
ExecStartPre=/usr/bin/docker run --rm \
-v ${RCLONE_CONFIG_PATH}:/etc/rclone.conf \
-v ${ETCD_BACKUP_DIR}:/etcd2backup \
quay.io/colhom/rclone:latest \
   --config /etc/rclone.conf --checksum=${RCLONE_CHECKSUM} \
   copy ${RCLONE_ENDPOINT}/%m /etcd2backup

ExecStartPre=/usr/bin/ls -R ${ETCD_BACKUP_DIR}

# Validate backups via force-new-cluster
ExecStartPre=/opt/bin/etcd2-restore-first ${ETCD_BACKUP_DIR}

ExecStartPre=/usr/bin/cp -r ${ETCD_BACKUP_DIR}/member ${ETCD_DATA_DIR}/member
ExecStart=/usr/bin/chown -R etcd:etcd ${ETCD_DATA_DIR}/member

[Install]
WantedBy=multi-user.target
